body{
	font-family: "맑은 고딕","돋움",dotum,arial,sans-serif;
}
#header{		 
	margin-top : 30px;	
	margin-bottom: 30px;
}
.error{	
	color : #b94a48;	
	font-size : 18px;
	margin-bottom: 15px;
	text-align: left; 
}
.btn-group{
	width: 100%;
}
.btn-group .active{
	background-color:#FF00FF; 
}
.btn-default{
	width: 50%;	
	font-weight : bold;	
}
.btndiv{
	text-align: center;
}
.btn-primary{
	width: 49%;	
	font-size : 23px;	
	font-weight : bold;	
	background-color : #FF00FF;	
}
.has-feedback{
	position: relative;
}






